In [4]:
#ESTABLISHING A DATABASE CONNECTION

import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine
import getpass  # To get the password without showing the input
password = getpass.getpass()

In [5]:
bd = "sakila"
connection_string = 'mysql+pymysql://root:' + password + '@localhost/'+bd
engine = create_engine(connection_string)
engine

Engine(mysql+pymysql://root:***@localhost/sakila)

In [6]:
# Retrive Rental Data for a Specific Month

def rentals_month(engine, month, year):
    query = f"""
    SELECT customer_id, rental_date 
    FROM rental 
    WHERE MONTH(rental_date) = {month} AND YEAR(rental_date) = {year};
    """
    return pd.read_sql(query, engine)

In [7]:
# Count Rentals Per Costumer for a given month

def rental_count_month(rentals_df, month, year):
    # Group by customer_id and count the number of rentals
    rental_count = rentals_df.groupby('customer_id').size().reset_index(name='count')
    
    # Rename the count column dynamically based on month and year
    column_name = f'rentals_{month:02d}_{year}'
    rental_count[column_name] = rental_count['count']
    
    # Return only customer_id and the new column
    return rental_count[['customer_id', column_name]]

In [8]:
# Compare Rental Activity Between Two Months

def compare_rentals(df1, df2):
    # Merge DataFrames on customer_id
    combined_df = pd.merge(df1, df2, on='customer_id', suffixes=('_month1', '_month2'))
    
    # Calculate the difference in rentals between months
    combined_df['difference'] = combined_df.iloc[:, -1] - combined_df.iloc[:, -2]
    
    return combined_df

In [10]:
#Execute

# Retrieve rental data for May and June 2005
may_rentals = rentals_month(engine, 5, 2005)
june_rentals = rentals_month(engine, 6, 2005)

# Count rentals per customer for May and June
may_rental_counts = rental_count_month(may_rentals, 5, 2005)
june_rental_counts = rental_count_month(june_rentals, 6, 2005)

# Compare activity between May and June
comparison_df = compare_rentals(may_rental_counts, june_rental_counts)

# Display results
comparison_df

     customer_id  rentals_05_2005  rentals_06_2005  difference
0              1                2                7           5
1              2                1                1           0
2              3                2                4           2
3              5                3                5           2
4              6                3                4           1
..           ...              ...              ...         ...
507          594                4                6           2
508          595                1                2           1
509          596                6                2          -4
510          597                2                3           1
511          599                1                4           3

[512 rows x 4 columns]